li.row
  .span1
    a.btn.btn-inverse.btn-block(ng-href="{{issue.html_url}}")
      span.fui-eye

  .span3
    select(
        fui-select
        fui-select-styles="rankStyles"
        ng-change="updateIssueRank(issue)"
        ng-model="issue.rank"
        ng-options="value as key for (key, value) in rankings"
      )

  .span8
    h3 {{issue.title}}
