h1 Onyx Issues

div(ng-switch="state")
  div(ng-switch-when="not-authorized")
    form
      input(ng-model="login.username")
      input(type="password", ng-model="login.password")
      button(ng-click="loginAs(login)") Login

  div(ng-switch-when="authorized")
    
    h2 New Issues
    ul
      li(
        ng-repeat  = "issue in issues | filter: {is_new: true}: true"
        ng-include = "templates.issue_line_item"
      )
      
    h2 Prioritized Issues
    ul
      li(
        ng-repeat  = "issue in issues | filter: !{is_new: true}: true"
        ng-include = "templates.issue_line_item"
      )
